<template>
  <div>
    <div class="container">
        <div class="header-container">
          <div class="header-content">
            <div class="header-content-left">
              <img src="../assets/IconKmath.jpg" />
              <h1>บ้านคณิตศาสตร์ K-Math</h1>
            </div>
            <div class="header-content-right">
              <button>ออกจากระบบ</button>
            </div>
          </div>

        </div>

        <div class="section-container">
          <div class="nav-container">
            <div id="nav">
                <button>จัดการข้อมูลตาราง</button>
                <button>จัดการข้อมูลผู้ใช้</button>
                <button>จัดการข้อมูลห้อง</button>
            </div>
          </div>
          <div class="view-container">
                <!-- <router-view/> -->

          </div>
        </div>
    </div>

  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: 'Home',
  components: {

  }

}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Mali&family=Prompt&display=swap');

.nav-container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.nav-container button{
  display: block;
  color: black;
  background-color: #FFA500;
  /* border: 0; */
  padding: 15px;
  width: 300px;
  margin: 15px;
  cursor: pointer;
}

.nav-container button:hover{
  color: red;
}

.header-content{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

h1{
  margin-left: 10px;
}

.header-content .header-content-right{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-right: 10px;
}

.header-content .header-content-right button{
  cursor: pointer;
  padding: 10px;
  color: white;
  background-color: #333;
  border: 0;
  border-radius: 4px;
}

.header-content .header-content-right button:hover{
  color: red;
}

.header-content .header-content-left{
  margin-left: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

img{
  width: 200px;
  height: 100px;
}

#nav {
  /* padding: 30px; */
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Prompt', sans-serif;
}

.container{
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 5fr;
}

.header-container{

  background-color: #42b983;
}

.section-container{
  display: grid;
  grid-template-columns: 1fr 4fr;

}

.nav-container{
  background-color: antiquewhite;
}
.view-container{
  background-color: black;
}

</style>
