<template>
  <div>
    <!-- <h1>Hello world</h1> -->
    <div class="container">
      <!-- img -->
      <div class="img-container"></div>

      <!-- LoginPanel -->
      <div class="login-container">
        <div class="login-content">
          <img src="../assets/IconKmath.jpg" />
          <form>
            <input type="text" name="" id="" placeholder="username" />
            <input type="text" name="" id="" placeholder="password" />
            <div class="remember-password">
              <input type="checkbox" name="" id="" />
              <label for="" style="transform:translateY(1px)">จดจำรหัสผ่าน</label>
            </div>
            <div class="button-container">
              <button>เข้าสู่ระบบ</button> <button>สร้างบัญชี</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {}
</script>
<style>
.remember-password{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 59px;
}
.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

.img-container {
  flex: 1;
  height: 100%;
  background-color: #333;
}

.login-container {
  flex: 1;
  height: 100vh;
  background-color: cornsilk;
  position: relative;
}

.login-container .login-content {
  position: absolute;
  top: 240px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container .login-content img {
  margin-bottom: 24px;
  width: 200px;
  height: 120px;
}

.login-container .login-content form input[type="text"] {
  display: block;
  width: 250px;
  height: 30px;
  padding-left: 27px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  outline: none;
}

.login-container .login-content form input[type="text"]:focus {
  border: 1px solid green;
}

.login-container .login-content form input[type="text"]:nth-child(1) {
  margin-bottom: 9px;
}

.login-container .login-content form input[type="text"]:nth-child(2) {
  margin-bottom: 4px;
}

.login-container .login-content form input[type="checkbox"] {
  /* padding-left: 0; */
  width: 15px;
  height: 15px;
  margin-right: 10px;
  /* margin-bottom: ; */
}

.button-container{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.button-container button{
  background-color: #ffa500;
  border: none;
  width: 250px;
  height: 50px;
  border-radius: 10px ;
  cursor: pointer;
}
</style>
