<template>
    <div id="nav">
      <router-link to="/"></router-link>
      <router-link to="/Home"></router-link>
      <router-view></router-view>
    </div>
</template>

<script>
export default {

}

</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav{
  margin: 0;
  padding: 0;
}

</style>
